evolutionary_robotics_framework/*
logs/*
*.pdf
.vscode
evolutionary_robotics_framework
__pycache__
connet_napier_hpc.sh
copy_files_to_napier_hpc.sh
CoppeliaSim*
V-REP_PRO_EDU_V3_6_2_Ubuntu18_04/*
!V-REP_PRO_EDU_V3_6_2_Ubuntu18_04/.gitkeep
CoppeliaSim_Edu_V4_3_0_Ubuntu18_04
results/data/**
remove_exp_with_less_lines_than.sh
data/local/**
videos/**
other_RL/meta_world_and_garage/data/local/experiment/**
results/evogym/data/*
results/evogym/figures/*
results/evogym/videos/*
!results/evogym/data/.gitkeep
!results/evogym/figures/.gitkeep
!results/evogym/videos/.gitkeep
results/robogrammar/data/*
results/robogrammar/figures/*
results/robogrammar/videos/*
!results/robogrammar/data/.gitkeep
!results/robogrammar/figures/.gitkeep
!results/robogrammar/videos/.gitkeep
results/tholiao/data/*
results/tholiao/figures/*
results/tholiao/videos/*
!results/tholiao/data/.gitkeep
!results/tholiao/figures/.gitkeep
!results/tholiao/videos/.gitkeep
results/gymrem2d/data/*
results/gymrem2d/figures/*
results/gymrem2d/videos/*
!results/gymrem2d/data/.gitkeep
!results/gymrem2d/figures/.gitkeep
!results/gymrem2d/videos/.gitkeep
results/jorgenrem/data/*
results/jorgenrem/figures/*
results/jorgenrem/videos/*
!results/jorgenrem/data/.gitkeep
!results/jorgenrem/figures/.gitkeep
!results/jorgenrem/videos/.gitkeep

venv
other_repos/evogym/examples/saved_data*
other_repos/RoboGrammar/*_tmp
cluster_scripts/connet_hip.sh
cluster_scripts/copy_files_to_hipatia.sh
other_repos/RoboGrammar/trained_models
*.o
*.so
glew-2.1.0/bin/glewinfo
glew-2.1.0/bin/visualinfo
glew-2.1.0/lib/libGLEW.*
glew-2.1.0/glew.pc
glew-2.1.0/destdir/
other_repos/RoboGrammar/build
other_repos/evogym/build
other_repos/evogym/examples/saved_data/
other_repos/evogym/examples/controller_to_generate_animation.pt
other_repos/RoboGrammar/tmp/*
other_repos/RoboGrammar/tmp_imp_seq_file
other_repos/evogym/examples/*.pt
results_fakeHome/**
other_repos/windflo/WindFLO.res
other_repos/windflo/release/WindFLO_LINUX
other_repos/windflo/optimum.dat
other_repos/windflo/Examples/Example4/WindFLO.res
other_repos/windflo/Examples/Example2/WindFLO.res
other_repos/windflo/Examples/Example0/WindFLO.res
other_repos/windflo/*.inp
other_repos/windflo/outcmaes
other_repos/RoboGrammar/tmp_*
other_repos/RoboGrammar/*.pkl
other_repos/evogym/examples/*.pkl
other_repos/tholiao/logs/*
!other_repos/tholiao/logs/.gitkeep
other_repos/tholiao/DIRresults.txt

other_repos/rem/__pycache__/
other_repos/rem/*.egg-info/



other_repos/revolve/__pycache__/
other_repos/revolve/*.py[cod]

*.so
*.dylib

.Python
other_repos/revolve/build/
other_repos/revolve/cmake-build-*/
other_repos/revolve/output*/
other_repos/revolve/develop-eggs/
other_repos/revolve/dist/
other_repos/revolve/downloads/
other_repos/revolve/eggs/
other_repos/revolve/.eggs/
other_repos/revolve/lib/
other_repos/revolve/lib64/
other_repos/revolve/parts/
other_repos/revolve/sdist/
other_repos/revolve/var/
other_repos/revolve/*.egg-info/
other_repos/revolve/.installed.cfg
other_repos/revolve/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
other_repos/revolve/*.manifest
other_repos/revolve/*.spec

# Installer logs
other_repos/revolve/pip-log.txt
other_repos/revolve/pip-delete-this-directory.txt

# Unit test / coverage reports
other_repos/revolve/htmlcov/
other_repos/revolve/.tox/
other_repos/revolve/.coverage
other_repos/revolve/.coverage.*
other_repos/revolve/.cache
other_repos/revolve/nosetests.xml
other_repos/revolve/coverage.xml
other_repos/revolve/*,cover
other_repos/revolve/experiments/examples/output/
other_repos/revolve/test.py

# Translations
other_repos/revolve/*.mo
other_repos/revolve/*.pot

# Django stuff:
other_repos/revolve/*.log

# Sphinx documentation
other_repos/revolve/docs/_build/

# PyBuilder
other_repos/revolve/target/

# PyCharm project files
other_repos/revolve/.idea

# Visual Studio Code
other_repos/revolve/.vscode/

# Virtual env
other_repos/revolve/.venv*/
other_repos/revolve/.python-version
other_repos/revolve/Pipfile
other_repos/revolve/Pipfile.lock

# Revolve related
*.sdf
*.urdf
other_repos/revolve/thirdparty/nlopt/build/CMakeFiles/Makefile.cmake
other_repos/revolve/thirdparty/nlopt/build/CMakeFiles/Makefile2
other_repos/revolve/thirdparty/nlopt/build/CMakeCache.txt
other_repos/revolve/data/default_experiment/**
progress_report.txt
tholiao_progress_report.txt
*.wb
pivottablejs.html
gymrem2d_progress_report.txt
other_repos/gymrem2d/ModularER_2D/mem_usage_intra.txt
mem_usage.txt
donete_tholiao.txt
other_repos/linkageevolution/tmp/*
!other_repos/linkageevolution/tmp/.gitkeep


other_repos/jorgenrem/dumps_for_animation/*
!other_repos/jorgenrem/dumps_for_animation/.gitkeep
