evolutionary_robotics_framework/*
logs/*
*.pdf
.vscode
evolutionary_robotics_framework
__pycache__
connet_napier_hpc.sh
copy_files_to_napier_hpc.sh
CoppeliaSim*
V-REP_PRO_EDU_V3_6_2_Ubuntu18_04
CoppeliaSim_Edu_V4_3_0_Ubuntu18_04
results/data/**
remove_exp_with_less_lines_than.sh
data/local/**
videos/**
other_RL/meta_world_and_garage/data/local/experiment/**
results/evogym/data/*
results/evogym/figures/*
results/evogym/videos/*
!results/evogym/data/.gitkeep
!results/evogym/figures/.gitkeep
!results/evogym/videos/.gitkeep
results/robogrammar/data/*
results/robogrammar/figures/*
results/robogrammar/videos/*
!results/robogrammar/data/.gitkeep
!results/robogrammar/figures/.gitkeep
!results/robogrammar/videos/.gitkeep
venv
other_repos/evogym/examples/saved_data
other_repos/RoboGrammar/*_tmp
cluster_scripts/connet_hip.sh
cluster_scripts/copy_files_to_hipatia.sh
other_repos/RoboGrammar/trained_models
*.o
*.so
glew-2.1.0/bin/glewinfo
glew-2.1.0/bin/visualinfo
glew-2.1.0/lib/libGLEW.*
glew-2.1.0/glew.pc
glew-2.1.0/destdir/
other_repos/RoboGrammar/build
other_repos/evogym/build
other_repos/evogym/examples/saved_data/
other_repos/evogym/examples/controller_to_generate_animation.pt
other_repos/RoboGrammar/tmp/*
other_repos/RoboGrammar/tmp_imp_seq_file
other_repos/evogym/examples/*.pt
results_fakeHome/**
other_repos/windflo/WindFLO.res
other_repos/windflo/release/WindFLO_LINUX
other_repos/windflo/optimum.dat
other_repos/windflo/Examples/Example4/WindFLO.res
other_repos/windflo/Examples/Example2/WindFLO.res
other_repos/windflo/Examples/Example0/WindFLO.res
other_repos/windflo/*.inp
other_repos/windflo/outcmaes
other_repos/RoboGrammar/tmp_*
other_repos/RoboGrammar/*.pkl
other_repos/evogym/examples/*.pkl