numpy
pandas
matplotlib

pybind11
pybind11-global
pythran
scipy
Cython
MarkupSafe
numpy-quaternion
torch-scatter -f https://pytorch-geometric.com/whl/torch-1.12.0+cpu.html
torch-sparse -f https://pytorch-geometric.com/whl/torch-1.12.0+cpu.html
torch-geometric
-e other_repos/RoboGrammar/examples/design_search
GPy
GPyOpt @ git+https://github.com/yunshengtian/GPyOpt@5fc1188ffdefea9a3bc7964a9414d4922603e904
gym
h5py
imageio
neat-python @ git+https://github.com/yunshengtian/neat-python@2762ab630838520ca6c03a866e8a158f592b0370
opencv-python
Pillow
pygifsicle
PyOpenGL
PyOpenGL-accelerate
stable-baselines3
torch
ttkbootstrap
typing
xvfbwrapper
f90nml
dotmap
direct
click
deap
cma
protobuf<=3.20.*
scipy==1.4.1
